In [2]:
import pandas as pd

df = pd.read_excel('location.xlsx')

In [3]:
df.head()

,Folder name,Filename,Direct Link,Coordinate
0,01 NR Ngai Thau Thuong,1,https://drive.google.com/uc?id=13qOAN0aZ5_9di0...,22.6828N 103.5939E
1,06 NR Ngai Thau Thuong,2,https://drive.google.com/uc?id=1x4M9YYqab8KVhC...,22.6827N 103.6001E
2,06 NR Ngai Thau Thuong,3,https://drive.google.com/uc?id=1AKKik5fgd95g5L...,22.6827N 103.6000E
3,09 NR Ngai Thau Thuong,4,https://drive.google.com/uc?id=1T7CrA3Ho7Y_3xP...,22.6829N 103.6105E
4,09 NR Ngai Thau Thuong,5,https://drive.google.com/uc?id=1ZnAeAhsA7awYWd...,22.6829N 103.6107E

In [4]:
df_grouped = df.groupby('Folder name').agg({'Coordinate': 'first', 'Direct Link': list}).reset_index()

In [5]:
df_grouped

,Folder name,Coordinate,Direct Link
0,01 NR Ngai Thau Thuong,22.6828N 103.5939E,[https://drive.google.com/uc?id=13qOAN0aZ5_9di...
1,06 NR Ngai Thau Thuong,22.6827N 103.6001E,[https://drive.google.com/uc?id=1x4M9YYqab8KVh...
2,09 NR Ngai Thau Thuong,22.6829N 103.6105E,[https://drive.google.com/uc?id=1T7CrA3Ho7Y_3x...
3,10 NR Ngai Thau Thuong,22.6830N 103.6113E,[https://drive.google.com/uc?id=1L1B1nikpENJlO...
4,17 NR Ngai Thau,22.6828N 103.5936E,[https://drive.google.com/uc?id=1W4S4ceNJ39aOZ...
5,18 NR Ngai Thau,22.6825N 103.5927E,[https://drive.google.com/uc?id=14mxVGVOflgUco...

In [19]:
df_grouped.to_csv('group_location.csv', index=False)

In [9]:
folder_name = '01 NR Ngai Thau Thuong'
num_direct_links = len(df_grouped[df_grouped['Folder name'] == folder_name]['Direct Link'].iloc[0])
print(num_direct_links)

1

In [11]:
direct_link = df_grouped[df_grouped['Folder name'] == folder_name]['Direct Link'].iloc[0]
print(direct_link[0])

https://drive.google.com/uc?id=13qOAN0aZ5_9di0kSabtI-rGEDQau8b7h&export=download